@font-face {
  font-family: 'AngelusMedieval';
  src: url('../assets/fonts/Angelus-Medieval.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MedievalEnglish';
  src: url('../assets/fonts/Medieval-English.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant';
  src: url('../assets/fonts/Cormorant-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 700; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant';
  src: url('../assets/fonts/Cormorant-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 700; 
  font-style: italic;
  font-display: swap;
}