.header-layout {
    height: auto;
    position: sticky;
    top: 0;
    justify-content: center;
    background-color: var(--primary-dark1);
    margin-bottom: -20px;
    border-bottom: 1px solid var(--primary-red);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0;
    z-index: 999;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.9vh;
    line-height: 2.5;
    letter-spacing: 1px;
    padding: 1rem 100px;
    transition: all 0.3s ease;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 40px;
    font-family: 'MedievalEnglish', cursive;
}

.header-profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: var(--brown-dark);
}

.custom-logout-item {
    text-align: center;
    color: var(--text-light) !important;
}

.custom-logout-item:hover {
    background-color: var(--brown-dark) !important;
    color: var(--text-light) !important;
}

.header-profile-btn {
    width: 3vh;
    height: 3vh;
    border-radius: 40px;
    border: 0.2vh solid var(--primary-red);
    background-color: var(--primary-dark1);
    background-image: url('../../assets/images/icons/profile-icon.svg');
    background-size: 2vh;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.header-nav-drawer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.custom-drawer {
    background-color: var(--primary-black);
}

.active-link {
    color: #fff;
    text-decoration: underline !important;
    cursor: default;
    transition: color 0.3s ease;
}

.active-link:hover {
    color: #fff;
}

.nav-link {
    color: rgb(237, 28, 36);
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: rgb(248, 225, 226);
}

.nav-link-play {
    color: rgb(237, 28, 36);
    transition: color 0.3s ease;
    font-weight: 600;
}

.nav-link-play:hover {
    color: rgb(248, 225, 226);
}

.header-logo {
    width: 25vh;
    display: block;
}

.mobile-menu-button {
    display: none;
}

@media (max-width: 1100px) {
    .header-container {
        font-size: 17px;
    }

    .header-logo {
        width: 200px;
        display: block;
    }

    .header-nav {
        gap: 20px;
    }

    .nav-link-play {
        font-size: 25px;
    }
}

@media (max-width: 800px) {
    .header-container {
        padding: 1rem 50px;
    }

    .header-nav {
        display: none;
    }

    .mobile-menu-button {
        display: block;
    }
}

@media (max-width: 500px) {
    .header-container {
        padding: 1rem 15px;
    }
}