.city-districts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 320px;
    height: 100%;
    background-image: url('../../../../assets/images/backgrounds/cityView-back.webp');
    background-size: cover;
    animation: microFade 0.3s ease-out;
}

@keyframes microFade {
    from {
        opacity: 0.95;
    }

    to {
        opacity: 1;
    }
}

.city-buttons-container {
    display: flex;
    gap: 30px;
}