.background-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    width: 100%;
    padding: 50px 100px 100px 100px;
    background-image: url('/src/assets/images/backgrounds/class-back.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.background-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
}

.background-list-item {
    display: flex;
    position: relative;
    padding: 20px 10px;
    width: calc((100% / 5) - (30px * 4 / 5));
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    isolation: isolate;
    transition: all .3s ease;

    border: 6px double var(--brown-dark);
    box-shadow:
        inset 0 0 20px rgba(139, 90, 43, 0.3),
        0 8px 20px rgba(0, 0, 0, 0.5);
}

.background-list-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(26, 26, 26, 0.9);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    z-index: -1;
}

.background-list-item:hover {
    transform: translateY(-20px) scale(1.03);
}

.background-img {
    height: 300px;
    margin-bottom: 20px;
}