.gameplay-menu-container {
    cursor: pointer;
}

.gameplay-menu {
    max-width: 200px;
    padding-top: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--primary-dark1);
}

.gameplay-container {
    display: flex;
    width: 100%;
}

.gameplay-layout {
    height: 90vh; 
}

.gameplay-layout .splitter-content-wrapper {
    height: 100%;
    overflow-y: auto;
}

.gameplay-splitter,
.gameplat-splitter-character {
  background-color: var(--text-light) !important;
}

