.forest-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    padding: 8vh 0;
    gap: 20px;
    background-image: url('../../../../assets/images/backgrounds/forest-back.jpg');
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

.dungeon__button-disabled {
    display: none;
}

.forest-messages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.forest-message-block {
    display: flex;
    align-items: center;
    width: 90vh;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    background-color: var(--primary-dark1);
    border: 0.2vh solid var(--brown-dark);
    border-radius: 20px;
    min-height: 300px;
}

.forest-message-descr {
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.reset-test-btn {
    position: absolute;
    left: 1vh;
    top: 4vh;
}

@media (max-width: 1920px) {
    .forest-message-block {
        font-size: 1.1rem;
    }
}