.draggableItem {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

.draggableItem-img {
    width: 100%;
    height: 100%;
    padding: 5px;
    object-fit: contain;
    border-radius: 10px;
    border: 2px solid var(--primary-black);
    background-color: var(--brown-dark);
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.common {
    border-bottom: 3px solid #8a8a8a;;
}

.uncommon {
    border-bottom: 3px solid #2ecc71;
}

.rare {
    border-bottom: 3px solid #0c1488;
}

.epic {
    border-bottom: 3px solid #620586;
}

.legendary {
    border-bottom: 3px solid #e67e22;
}