.slot-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.5vh;
    height: 6.5vh;
    text-align: center;
    background-color: var(--brown-dark);
    border: 2px solid var(--primary-black);
    border-radius: 10px;
}

.equipment-slot {
    display: flex;
    align-items: center;
    justify-content: center;
}