.inventory-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.inventory-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6.5vh, 1fr));
    grid-auto-rows: minmax(6.5vh, 1fr);
    gap: 5px;
    width: 50vh;
    font-size: 1.3vh;
    font-family: 'Cormorant', cursive;
    color: var(--text-light);
}